.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.container button{
    background: #0275d8;
    color: #fff;
    font-weight: bold;

    width: 10%;
    height: 5%;
    border-radius: 15px;

    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    transition: all 0.1s linear 0.1s;
}

.container button:hover{
    box-shadow: rgba(100, 100, 111, 0.2);
    transform: scale(1.1);
}